<p id="notice"><%= notice %></p>

<h1>Players</h1>
<%= form_with(url: search_players_path, data: { controller: 'form-submission', form_submission_target: "form" }) do |form| %>
  <%= form.label :query, "Search by name:" %>
  <%= form.text_field :query, data: { action: "input->form-submission#search" } %>
<% end %>

<%= render "list", players: @players %>

<%= link_to 'New Player', new_player_path %>